<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Путь к log директории -->
  <variable name="logDir" value="${specialfolder:folder=ApplicationData}/ZappChat_v3/log/${date:format=yyyy-MM-dd}"/>

  <!-- Настройка Layout -->
  <variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}"/>
  <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>

  <targets>

    <target
      name="P2PserviceLog"
      xsi:type="File"
      fileName="${logDir}/P2PService.log"
      layout="${detailedLayout}" />

    <target
      name="shortLog"
      xsi:type="File"
      fileName="${logDir}/short.log"
      layout="${commonLayout}" />

    <target
      name="fullLog"
      xsi:type="File"
      fileName="${logDir}/full.log"
      layout="${detailedLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fullLog" />
    <logger name="*" minlevel="Info" writeTo="shortLog" />
    <logger name="Core.Managers.P2PManager.*" minlevel="Info" writeTo="P2PserviceLog" />
  </rules>

</nlog>